<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--<head sec:authorize="isAuthenticated()">-->
    <meta charset="UTF-8">
    <title>Welcome to Online Trailer Rental System</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>

<!--<body sec:authorize="isAuthenticated()">-->
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Available Trailers</div>
                <div class="panel-body"><img src="pictures/available_trailer.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Total Tenants</div>
                <div class="panel-body"><img src="pictures/customers.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Under Repair Trailers</div>
                <div class="panel-body"><img src="pictures/repair.png" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Trailers <span class="badge">7</span></div>
                <div class="panel-body"><img src="pictures/trailer.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Payments</div>
                <div class="panel-body"><img src="pictures/payment.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Total Rents</div>
                <div class="panel-body"><img src="pictures/contract.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><button type="button" class="btn btn-primary floating">View Details</button></div>
            </div>
        </div>
    </div>
</div>

</body>

<div th:replace="fragments/footer :: footer"/>

</html>
