<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--<head sec:authorize="isAuthenticated()">-->
    <meta charset="UTF-8">
    <title>Welcome to Online Trailer Rental System</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>

<body sec:authorize="isAuthenticated()">
<!--<body>-->
<!--<span class="badge" th:text="${session.roles}"></span>-->
<!--<span class="badge" th:text="${session.token}"></span>-->
<div class="container" th:if="${session.token}">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Available Trailers <span class="badge" th:text="${dashboard.availTrailers}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/available_trailer.jpg}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="trailers/search?trailernumber=&statusID=1" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Total Tenants <span class="badge" th:text="${dashboard.totalTenants}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/customers.jpg}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="/users/list" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Under Repair Trailers <span class="badge" th:text="${dashboard.underTrailers}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/repair.png}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="trailers/search?trailernumber=&statusID=0" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>

    </div>
</div>

<div class="container" th:if="${session.token}">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Trailers <span class="badge" th:text="${dashboard.totalTrailers}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/trailer.jpg}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="/trailers/list" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Payments <span class="badge" th:text="${dashboard.totalPayments}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/payment.jpg}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="/payments/list" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Total Rents <span class="badge" th:text="${dashboard.totalRents}"></span></div>
                <div class="panel-body"><img th:src="@{/pictures/contract.jpg}" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
                <div class="panel-footer"><a href="/rents/list" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
            </div>
        </div>
    </div>
</div>

</body>

<div th:replace="fragments/footer :: footer"/>

</html>
